body {
    display: flex;
    flex-direction: column;
    position: relative;height: auto;
    font-family: 'Open Sans', sans-serif;
    background-image: url('images/full-bloom.png');
    margin: 0px;
    min-height: 100vh;
   }

   h1 {
       font-size: 40px;
   }

   #body-area {
       display: flex;
       justify-content: space-evenly;
       flex: 1;
   }


#header-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;  
    margin: 20px 0 20px 0;  
    /* flex-wrap: wrap; */
}

.option {
    display: flex;
    margin-bottom: 30px;
}

img {
    max-width: 200px;
     transition: transform 0.5s;
}

#rock {
    max-width: 165px;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed black;
    padding-bottom: 10px;
    min-width: 22%;
max-width: 20%;
height: 350px;
background-color: rgba(255,255,0,.5);
border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    #body-area, #container {
        flex-wrap: wrap;
    }
    #counter {
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
}



#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loose {
    color: red;
}

.win {
    color: green;
}

.draw {
    color: orange;
}

p, h2, h3 {
    margin: 10px;
}

button {
    font-size: 20px;
}

footer {
    margin-top: 10px;
    background: rgba(128,128,128,0.3);
    padding: 8px;

}